.DOB-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.major-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.Gender-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

